<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linter.learning.course.dao.CourseDao">

    <resultMap type="cn.linter.learning.course.entity.Course" id="CourseMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="coverPhotoUrl" column="cover_photo_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="teacher" javaType="cn.linter.learning.course.entity.User">
            <id property="id" column="tid"/>
            <result property="username" column="username"/>
            <result property="fullName" column="full_name"/>
            <result property="profilePicture" column="profile_picture"/>
        </association>
    </resultMap>

    <!--通过ID查询单个-->
    <select id="selectById" resultMap="CourseMap">
        select c.id,
               c.name,
               c.price,
               c.description,
               c.teacher_id,
               c.cover_photo_url,
               c.create_time,
               c.update_time,
               u.id tid,
               u.username,
               u.full_name,
               u.profile_picture
        from course c
                 join user u
                      on c.teacher_id = u.id
        where c.id = #{id}
    </select>

    <!--查询所有-->
    <select id="list" resultMap="CourseMap">
        select c.id,
               c.name,
               c.price,
               c.description,
               c.teacher_id,
               c.cover_photo_url,
               c.create_time,
               c.update_time,
               u.id tid,
               u.username,
               u.full_name,
               u.profile_picture
        from course c
                 join user u
                      on c.teacher_id = u.id
    </select>

    <!--通过分类ID查询所有-->
    <select id="listByCategoryId" resultMap="CourseMap">
        select c.id,
               c.name,
               c.price,
               c.description,
               c.teacher_id,
               c.cover_photo_url,
               c.create_time,
               c.update_time,
               u.id tid,
               u.username,
               u.full_name,
               u.profile_picture
        from course c
                 join user u
                      on c.teacher_id = u.id
        <if test="categoryId != null">
                 join category_course cc
                      on c.id = cc.course_id
        </if>
        where cc.category_id = #{categoryId}
        <if test="orderBy !=null">
            order by #{orderBy}
        </if>
    </select>

    <!--通过实体查询所有-->
    <select id="listByEntity" resultMap="CourseMap">
        select c.id,
               c.name,
               c.price,
               c.description,
               c.teacher_id,
               c.cover_photo_url,
               c.create_time,
               c.update_time,
               u.id tid,
               u.username,
               u.full_name,
               u.profile_picture
        from course c
                 join user u
                      on c.teacher_id = u.id
        <where>
            <if test="id != null">
                and c.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
            <if test="price != null">
                and c.price = #{price}
            </if>
            <if test="teacherId != null">
                and c.teacher_id = #{teacher.id}
            </if>
        </where>
    </select>

    <!--插入单个-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into course(name, price, description, teacher_id, cover_photo_url, create_time, update_time)
        values (#{name}, #{price}, #{description}, #{teacher.id}, #{coverPhotoUrl}, #{createTime}, #{updateTime})
    </insert>

    <!--更新-->
    <update id="update">
        update course
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="price != null">
            price = #{price},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="teacherId != null">
            teacher_id = #{teacherId},
        </if>
        <if test="coverPhotoUrl != null and coverPhotoUrl != ''">
            cover_photo_url = #{coverPhotoUrl},
        </if>
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <!--删除-->
    <delete id="delete">
        delete
        from course
        where id = #{id}
    </delete>

</mapper>
