<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linter.learning.course.dao.EvaluationDao">

    <resultMap type="cn.linter.learning.course.entity.Evaluation" id="EvaluationMap">
        <result property="id" column="id"/>
        <result property="score" column="score"/>
        <result property="comment" column="comment"/>
        <result property="courseId" column="course_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="author" javaType="cn.linter.learning.course.entity.User">
            <id property="id" column="uid"/>
            <result property="username" column="username"/>
            <result property="fullName" column="full_name"/>
            <result property="profilePicture" column="profile_picture"/>
        </association>
    </resultMap>

    <!--通过ID查询单个评价-->
    <select id="selectById" resultMap="EvaluationMap">
        select e.id,
               e.score,
               e.comment,
               e.user_name,
               e.course_id,
               e.create_time,
               e.update_time,
               u.id uid,
               u.username,
               u.full_name,
               u.profile_picture
        from evaluation e
                 join user u on u.username = e.user_name
        where e.id = #{id}
    </select>

    <!--查询所有评价-->
    <select id="list" resultMap="EvaluationMap">
        select e.id,
               e.score,
               e.comment,
               e.user_name,
               e.course_id,
               e.create_time,
               e.update_time,
               u.id uid,
               u.username,
               u.full_name,
               u.profile_picture
        from evaluation e
                 join user u on u.username = e.user_name
    </select>

    <!--通过课程ID查询所有评价-->
    <select id="listByCourseId" resultMap="EvaluationMap">
        select e.id,
               e.score,
               e.comment,
               e.user_name,
               e.course_id,
               e.create_time,
               e.update_time,
               u.id uid,
               u.username,
               u.full_name,
               u.profile_picture
        from evaluation e
                 join user u on u.username = e.user_name
        where e.course_id = #{courseId}
    </select>

    <!--插入单个评价-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into evaluation(score, comment, user_name, course_id, create_time, update_time)
        values (#{score}, #{comment}, #{author.username}, #{courseId}, #{createTime}, #{updateTime})
    </insert>

    <!--更新评价-->
    <update id="update">
        update evaluation
        set
        <if test="score != null">
            score = #{score},
        </if>
        <if test="comment != null and comment != ''">
            comment = #{comment},
        </if>
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <!--删除评价-->
    <delete id="delete">
        delete
        from evaluation
        where id = #{id}
    </delete>

    <!--通过课程ID查询平均评分-->
    <select id="selectAverageScoreByCourseId" resultType="integer">
        SELECT floor(avg(score))
        from evaluation
        where course_id = #{courseId}
    </select>

</mapper>